body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

header {
  background-color: #222;
  color: white;
  padding: 60px 20px;
}

section {
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
}

footer {
  margin: 40px 0;
  color: #777;
}
